################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReplaceAll/obj
/ReplaceAll/bin/Debug
/ReplaceAll/ReplaceAll.csproj.user
/.vs
